################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CafeWithLove/obj/Debug/CafeWithLove.csprojResolveAssemblyReference.cache
