@{
ViewBag.Title = "CAFE WITH L💗VE - HOME";
}

<!-- MOST VISITED CAFES -->
@{Html.RenderAction("_FeaturedCafes", "CafeDetails"); }
@*{Html.RenderAction("_LoginPartial", "CafeDetails"); }*@
@*<h2 class="no-top-margin">MOST VISITED CAFES</h2>
<div class="row">
    
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-rounded" src="~/Content/Images/sundayfolks.jpg">
            <div class="caption text-center">
                <h3>Sunday Folks</h3>
                <p>
                    Lorem ipsum dolor sit amet, nonummy ligula volutpat hac integer nonummy. Suspendisse ultricies, congue etiam tellus, erat libero, nulla eleifend, mauris pellentesque. Suspendisse integer praesent vel, integer gravida mauris, fringilla vehicula lacinia non
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-rounded" src="~/Content/Images/griddy.jpg">
            <div class="caption text-center">
                <h3>Griddy</h3>
                <p>
                    Lorem ipsum dolor sit amet, nonummy ligula volutpat hac integer nonummy. Suspendisse ultricies, congue etiam tellus, erat libero, nulla eleifend, mauris pellentesque. Suspendisse integer praesent vel, integer gravida mauris, fringilla vehicula lacinia non
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-rounded" src="~/Content/Images/hungrykraken.jpg">
            <div class="caption text-center">
                <h3>Hungry Kraken</h3>
                <p>
                    Lorem ipsum dolor sit amet, nonummy ligula volutpat hac integer nonummy. Suspendisse ultricies, congue etiam tellus, erat libero, nulla eleifend, mauris pellentesque. Suspendisse integer praesent vel, integer gravida mauris, fringilla vehicula lacinia non
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-rounded" src="~/Content/Images/littleprince.jpg">
            <div class="caption text-center">
                <h3>Little Prince Creamery</h3>
                <p>
                    Lorem ipsum dolor sit amet, nonummy ligula volutpat hac integer nonummy. Suspendisse ultricies, congue etiam tellus, erat libero, nulla eleifend, mauris pellentesque. Suspendisse integer praesent vel, integer gravida mauris, fringilla vehicula lacinia non
                </p>
            </div>
        </div>
    </div>
</div>*@