﻿@model ICollection<CafeWithLove.Models.CafeViewModel>

@foreach (var modellist in Model)
{
    foreach (var outletlist in modellist.CafeOutletVM)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail featured-cafe-thumbnail">
                <img class="img-rounded" src="@Url.Content(String.Format("~/Images/{0}", modellist.CafeDetailVM.cafeLogo))">
                <div class="caption text-center">
                    <h3>@Html.DisplayFor(modelItem => modellist.CafeDetailVM.cafeName)</h3>
                    <p>
                        @Html.DisplayFor(ModelItem => modellist.CafeDetailVM.cafeDesc)
                    </p>
                    @Html.ActionLink("View Cafe Details", "Details", "CafeDetails", new { id = modellist.CafeDetailVM.Id }, null)
                </div>
            </div>
        </div>
    }
}

<script>
    var height = 0;
    $(".featured-cafe-thumbnail").each(function (index) {
        console.log($(this).height());

        if ($(this).height() > height)
            height = $(this).height();
    });

    console.log(height+"px");

    $(".featured-cafe-thumbnail").each(function (index) {
        $(this).height(height + "px");
    });
</script>